/* Estilos básicos */

@font-face {
    font-family: Heebo;
    src: url('Heebo-Regular.ttf');
}

body {
    font-family: Heebo;
    background-color: #F1F9EC;
    color: #074a29;
    margin: 0;
    padding-right: 1em;
}

/* Barra de navegación fija */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #afdc97;
    color: #074a29;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    z-index: 1000; /* Asegura que esté sobre el contenido */
}

nav h1 {
    text-align: left;
    font-size: 1.5em;
    margin: 0;
    flex-grow: 1;
}

/* Estilos para el botón con ícono */
nav button {
    background: none;
    border: none;
    color: #FFFFFF;
    font-size: 1em;
    cursor: pointer;
    display: flex;
    align-items: center;
}

nav button .back-icon {
    width: 20px; /* Ajusta el tamaño del ícono */
    height: 20px;
    margin-right: 5px; /* Espacio entre el ícono y el texto */
}

nav button i {
    margin-right: 5px; /* Espacio entre el icono y el texto */
}
/* Contenido principal */
main {
    padding: 0.1em 2em 1em 1em; /* Añade espacio arriba para la barra fija */
    max-width: 600px;
    margin: auto;
}

.flexbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:auto;
    margin-bottom: 1em;
    margin-top: 4.5em;
    margin-left: 1em;
}


.box {
    display: inline-block;
    min-width: 200px;
    max-width: 2000px;
    background: #F1F9EC;
    box-shadow: 0px 0px 15px 0px #0007;
    box-sizing: border-box;
    text-align: center;
    border-radius: 8px;
    flex: 1;
    
}

.box1 {
    display: inline-block;
    min-width: 200px;
    max-width: 2000px;
    background: #F1F9EC;
    box-shadow: 0px 0px 15px 0px #0007;
    box-sizing: border-box;
    text-align: center;
    border-radius: 8px;
    flex: 1;   
    margin-top: 1em; 
}

/* Formulario */
form label {
    display: block;
    margin-top: 10px;
    text-align: left;
    font-family: Heebo;
}

form input, form textarea {
    min-width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-family: Heebo;
}
textarea {
    resize: vertical;
    min-width: 100%;
    min-height: 100px;
    max-height: 500px;
}

form button {
    margin-top: 0.4em;
    background-color: #0C703F;
    color: #FFFFFF;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #074a29;
}

p {
    display: block;
    margin-top: 3px;
    text-align: center;
    font-family: Heebo;
    font-size: 0.7em;
    padding: 0.5em;
}

a {
    color: #69f;
    text-decoration: none;
}